USE [Hersil]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 9/07/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre]) VALUES (1, N'Tabletas')
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre]) VALUES (2, N'Jarabe')
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre]) VALUES (3, N'Cápsulas')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
