USE [Hersil]
GO
/****** Objeto: Table [dbo].[Medicamentos] Fecha de script: 9/07/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[ID_Medicamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
	[Stock] [int] NULL,
	[Precio] [decimal](18, 2) NULL,
	[Fecha_Vencimiento] [date] NULL,
	[Laboratorio] [varchar](100) NULL,
	[Estado] [bit] NULL,
	[ID_Categoria] [int] NULL,
 CONSTRAINT [PK_Medicamentos] PRIMARY KEY CLUSTERED 
(
	[ID_Medicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Medicamentos] ON 

INSERT [dbo].[Medicamentos] ([ID_Medicamento], [Nombre], [Descripcion], [Stock], [Precio], [Fecha_Vencimiento], [Laboratorio], [Estado], [ID_Categoria]) VALUES (1, N'Ibuprofeno', N'Antiinflamatorio y analgésico', 150, CAST(8.50 AS Decimal(18, 2)), CAST(N'2028-03-15' AS Date), N'Bayer', 1, 1)
INSERT [dbo].[Medicamentos] ([ID_Medicamento], [Nombre], [Descripcion], [Stock], [Precio], [Fecha_Vencimiento], [Laboratorio], [Estado], [ID_Categoria]) VALUES (2, N'Amoxicilina', N'Antibiótico de amplio espectro', 50, CAST(12.90 AS Decimal(18, 2)), CAST(N'2027-11-20' AS Date), N'MK', 1, 3)
INSERT [dbo].[Medicamentos] ([ID_Medicamento], [Nombre], [Descripcion], [Stock], [Precio], [Fecha_Vencimiento], [Laboratorio], [Estado], [ID_Categoria]) VALUES (3, N'Omeprazol', N'Protector gástrico', 80, CAST(18.50 AS Decimal(18, 2)), CAST(N'2029-01-05' AS Date), N'Inkafarma', 1, 3)
SET IDENTITY_INSERT [dbo].[Medicamentos] OFF
GO
ALTER TABLE [dbo].[Medicamentos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_Medicamentos_Categorias] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categorias] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Medicamentos] CHECK CONSTRAINT [FK_Medicamentos_Categorias]
GO
