USE [Hersil]
GO
/****** Objeto: Table [dbo].[MovimientoInventario] Fecha de script: 9/07/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInventario](
	[ID_Movimiento] [int] IDENTITY(1,1) NOT NULL,
	[ID_Medicamento] [int] NULL,
	[TipoMovimiento] [varchar](20) NULL,
	[Cantidad] [int] NULL,
	[FechaMovimiento] [date] NULL,
	[Observacion] [varchar](200) NULL,
 CONSTRAINT [PK_MovimientoInventario] PRIMARY KEY CLUSTERED 
(
	[ID_Movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MovimientoInventario] ON 

INSERT [dbo].[MovimientoInventario] ([ID_Movimiento], [ID_Medicamento], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Observacion]) VALUES (2, 3, N'Salida', 4, CAST(N'2026-06-27' AS Date), N'Venta')
INSERT [dbo].[MovimientoInventario] ([ID_Movimiento], [ID_Medicamento], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Observacion]) VALUES (3, 3, N'Salida', 12, CAST(N'2026-06-27' AS Date), N'Venta')
INSERT [dbo].[MovimientoInventario] ([ID_Movimiento], [ID_Medicamento], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Observacion]) VALUES (4, 17, N'Salida', 4, CAST(N'2026-06-27' AS Date), N'Venta')
SET IDENTITY_INSERT [dbo].[MovimientoInventario] OFF
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInventario_Medicamentos] FOREIGN KEY([ID_Medicamento])
REFERENCES [dbo].[Medicamentos] ([ID_Medicamento])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovimientoInventario_Medicamentos]
GO
