USE [Hersil]
GO
/****** Objeto: Table [dbo].[DetalleVentas] Fecha de script: 9/07/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[ID_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[ID_Venta] [int] NULL,
	[ID_Medicamento] [int] NULL,
	[Cantidad] [int] NULL,
	[Precio_Unitario] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DetalleVentas] PRIMARY KEY CLUSTERED 
(
	[ID_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DetalleVentas] ON 

INSERT [dbo].[DetalleVentas] ([ID_Detalle], [ID_Venta], [ID_Medicamento], [Cantidad], [Precio_Unitario], [Subtotal]) VALUES (2, 3, 3, 4, CAST(18.50 AS Decimal(18, 2)), CAST(74.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([ID_Detalle], [ID_Venta], [ID_Medicamento], [Cantidad], [Precio_Unitario], [Subtotal]) VALUES (3, 4, 3, 12, CAST(18.50 AS Decimal(18, 2)), CAST(222.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([ID_Detalle], [ID_Venta], [ID_Medicamento], [Cantidad], [Precio_Unitario], [Subtotal]) VALUES (4, 5, 17, 4, CAST(5.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVentas] OFF
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Medicamentos] FOREIGN KEY([ID_Medicamento])
REFERENCES [dbo].[Medicamentos] ([ID_Medicamento])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Medicamentos]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Ventas] FOREIGN KEY([ID_Venta])
REFERENCES [dbo].[Ventas] ([ID_Venta])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Ventas]
GO
