USE [Hersil]
GO
/****** Objeto: Table [dbo].[Ventas] Fecha de script: 9/07/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[ID_Venta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cliente] [int] NULL,
	[FechaVenta] [date] NULL,
	[Total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[ID_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([ID_Venta], [ID_Cliente], [FechaVenta], [Total]) VALUES (3, 3, CAST(N'2026-06-27' AS Date), CAST(74.00 AS Decimal(18, 2)))
INSERT [dbo].[Ventas] ([ID_Venta], [ID_Cliente], [FechaVenta], [Total]) VALUES (4, 1, CAST(N'2026-06-27' AS Date), CAST(222.00 AS Decimal(18, 2)))
INSERT [dbo].[Ventas] ([ID_Venta], [ID_Cliente], [FechaVenta], [Total]) VALUES (5, 3, CAST(N'2026-06-27' AS Date), CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Clientes] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
