USE [Hersil]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 9/07/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](8) NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID_Cliente], [DNI], [Nombre], [Telefono], [Estado]) VALUES (1, N'60203922', N'Lisa Peréz', N'980332909', 1)
INSERT [dbo].[Clientes] ([ID_Cliente], [DNI], [Nombre], [Telefono], [Estado]) VALUES (2, N'80203495', N'Jorge Hidalgo', N'926642944', 1)
INSERT [dbo].[Clientes] ([ID_Cliente], [DNI], [Nombre], [Telefono], [Estado]) VALUES (3, N'70190349', N'Pepe Lopez', N'945713543', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Clientes_DNI] Fecha de script: 9/07/2026 16:40:42 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Clientes_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
